<nav class="navbar navbar-dark bg-dark fixed-top justify-content-md-center">
    <div class="grid justify-content-center text-white" style="margin-left: auto; margin-right: auto;">
        <div class="row justify-content-md-center">
            <div class="col-auto">
                <nav aria-label="region selector">
                    <ul class="pagination mt-3">
{# FIXME: On new regions #}
{% for reg in range(1, 10) %}
                        <li class="page-item">
                            <a class="page-link" href="#{{ reg }}">
                                {{ reg }}
                            </a>
                        </li>
{% endfor %} {# Region selector #}
                    </ul>
                </nav> {# Pagination #}
            </div>
        </div>
    </div> {# Container #}
</nav> {# Navbar #}

<nav class="fixed-top mt-5 pt-3" style="margin-left: 10vw;">
{% include "40dex-search.html" %}
</nav>